In [11]:
import pandas as pd 
import csv

df_Nakahashi_upstream = pd.read_csv('df_Nakahashi_upstream.bed', sep = '\t')
df_Nakahashi_upstream.columns.values[0] = "chrom"
display(df_Nakahashi_upstream.columns)
display(df_Nakahashi_upstream)
df_scan_up = pd.read_csv('~/N_up.bed', sep='\t', header = 5)
#df_scan_down = pd.read_csv('~/N_down.bed', sep='\t', header = 4)

df_scan_up = df_scan_up.columns.to_frame().T.append(df_scan_up, ignore_index=True)
df_scan_up.columns = range(len(df_scan_up.columns))
df_scan_up.columns = ["chrom", "start", "end", "motif", "score", "strand"]
df_scan_up = df_scan_up.drop(columns=['motif', 'score', 'strand'])
display(df_scan_up.columns)
display(df_scan_up)

Index(['chrom', 'start', 'end'], dtype='object')

      chrom      start        end
0      chr1    4322487    4322687
1      chr1    4336141    4336341
2      chr1    4406664    4406864
3      chr1    4506570    4506770
4      chr1    4758375    4758575
...     ...        ...        ...
38935  chr9  123754007  123754207
38936  chr9  123900809  123901009
38937  chr9  123947903  123948103
38938  chr9  124033088  124033288
38939  chr9  124043041  124043241

[38940 rows x 3 columns]

Index(['chrom', 'start', 'end'], dtype='object')

      chrom      start        end
0      chr1    4322625    4322629
1      chr1    4336219    4336223
2      chr1    4406722    4406726
3      chr1    4506594    4506598
4      chr1    4758519    4758523
...     ...        ...        ...
38935  chr9  123754174  123754178
38936  chr9  123900881  123900885
38937  chr9  123947983  123947987
38938  chr9  124033132  124033136
38939  chr9  124043221  124043225

[38940 rows x 3 columns]

In [12]:
import bioframe as bf

overlapping_intervals = bf.overlap(df_Nakahashi_upstream, df_scan_up, how = 'inner', suffixes = ('_1', '_2'))
display (overlapping_intervals)

TypeError: Invalid bedFrame: Invalid column dtypes

In [10]:
df1 = pd.DataFrame([
    ['chr1', 1, 5],
    ['chr1', 3, 8],
    ['chr1', 8, 10],
    ['chr1', 12, 14]],
    columns=['chrom', 'start', 'end']
)
display(df1.columns)

df2 = pd.DataFrame([
    ['chr1', 1, 5],
    ['chr1', 3, 8],
    ['chr1', 8, 10],
    ['chr1', 12, 14]],
    columns=['chrom', 'start', 'end']
)
display(df2.columns)

import bioframe as bf

overlapping_intervals = bf.overlap(df1, df2, how = 'inner', suffixes = ('_1', '_2'))
display (overlapping_intervals)

Index(['chrom', 'start', 'end'], dtype='object')

Index(['chrom', 'start', 'end'], dtype='object')

  chrom_1  start_1  end_1 chrom_2  start_2  end_2
0    chr1        1      5    chr1        1      5
1    chr1        1      5    chr1        3      8
2    chr1        3      8    chr1        3      8
3    chr1        8     10    chr1        8     10
4    chr1       12     14    chr1       12     14
5    chr1        3      8    chr1        1      5